engine-strict=true
save-exact=true
always-auth=true
@mapped:registry=https://npm.pkg.github.com/mapped
//npm.pkg.github.com/mapped/:_authToken=${MAPPED_GPR_TOKEN}
//npm.pkg.github.com/download/:_authToken=${MAPPED_GPR_TOKEN}